/* for use until I get images from previous code */

.border{
  border:2px lightgray solid;
}

.header-offer{
  background-color: #E9E9E9;
}

/* MAIN */
a{
  text-decoration: none !important;
  color:inherit;
  cursor:pointer;
}
a:hover{
  color:inherit;
}
ul li{
  list-style-type: none;
}
/* HEADER */
h3.header-info .txt-call {
    color: #000;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
}
h3.header-info .txt-call span {
    display: block;
    color: #006496;
    font-size: 30px;
    line-height: 1.1;
}
h3.header-info .txt-program {
    display: block;
    font-size: 10px;
    line-height: 1.1;
}

/* NAV */
.navbar-bg{
  background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(211,211,211,1) 100%);
}
.navbar li:first-child{
  border-left:none;
}
.navbar li:nth-child(2),
.navbar li:nth-child(3),
.navbar li:nth-child(4),
.navbar li:nth-child(5),
.navbar li:nth-child(6){
  border-left:solid whitesmoke 1px;
}
.navbar li:last-child{
  border-right:none;
}
.navbar li:first-child,
.navbar li:nth-child(2),
.navbar li:nth-child(3),
.navbar li:nth-child(4),
.navbar li:nth-child(5){
  border-right: lightgrey solid 1px;
}

.package1{
  padding: 25px 20px;
  background: #edfbff;
  border: 3px solid #cdeeff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
.package1:hover{
  background:white;
}

/* MAIN */
.bg-image-inner-main{
    background: url(images/charter-communications-authorized-retailer-spectrum.png) 93% 15px no-repeat;
}
.bg-image-outer-main{
  background: url(images/charter-spectrum-retailer-communications.jpg) 50% 0% no-repeat;
}
.bg-image-inner-main-2{
  background: url(images/spectrum-charter-authorized-retailer.jpg) 50% 0 no-repeat;
}

.header-offer{
  color:white;
  height: 426px;
}
.offer-content{
  min-height: 450px;
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.8);
}
.header-offer h3.price .holder {
    text-align: left;
    display: inline-block;
}
.header-offer h3.price .curency {
    clear: both;
    padding-top: 5px;
    font-size: 15px;
    text-align: right;
}
.header-offer h3.price .curency span {
    font-size: 65px;
    line-height: 1.0;
    font-weight: 800;
    text-shadow: 1px 1px 0 #0d2d60;
}
.header-offer h3.price .value {
    margin-top: -12px;
    margin-bottom: -12px;
    font-size: 138px;
    line-height: 0.97;
    font-weight: 800;
    text-shadow: 1px 1px 0 #0d2d60;
}
.price .holder > span {
    float: left;
    padding: 0 1px;
}
.price .divider {
    display: none;
}
.price .holder > span {
    float: left;
    padding: 0 1px;
}
.header-offer h3.price .value-decimals .decimals {
    font-size: 29px;
    line-height: 1.0;
    font-weight: 800;
    text-shadow: 1px 1px 0 #0d2d60;
}
.header-offer h3.price .value-decimals .decimals span {
    font-size: 65px;
    line-height: 1.0;
}
.price .holder > span > span, .price .holder .break {
    display: block;
}
.header-offer ul.list1 li{
  list-style-type: none;
}
.header-offer ul.list1 li:before {
  position: absolute;
  display: block;
  margin-left: -18px;
  font-family: FontAwesome;
  content: "\f00c";
  color: #71d7ff;
}
/* PHONE NUMBER */
.main-content .content-call-now {
    margin: 0 0 20px 0;
    color: #006496;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 400;
}
/* PACKAGES */
.package1 h3 {
    margin: 0 0 0 0;
    color: #000;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    font-weight: 700;
}
.package1 h4.price {
    margin: 0 0 15px 0;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    font-weight: normal;
    position: relative;
}
.package1 h5.call-now {
    padding-top: 15px;
    margin: 0 0 15px 0;
    border-top: 1px solid #4c9fc8;
    color: #004365;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
}
.package1 h4.price .holder {
    text-align: left;
    display: inline-block;
}
.package1 h4.price .prefix {
    padding-top: 3px;
}
.package1 h4.price .curency {
    font-size: 26px;
    line-height: 1.0;
    font-weight: 700;
}
.package1 h4.price .value {
    margin-top: -7px;
    margin-bottom: -7px;
    font-size: 70px;
    line-height: 1.0;
    font-weight: 800;
}
.price .holder > span {
    float: left;
    padding: 0 1px;
}
.price .divider {
    display: none;
}
.package1 h4.price .value-decimals {
    font-size: 10px;
    line-height: 1.3;
}
.package1 h4.price .value-decimals .decimals {
    font-size: 26px;
    line-height: 1.0;
}
.price .holder > span > span, .price .holder .break {
    display: block;
}
.package1 h5.call-now {
    padding-top: 15px;
    margin: 0 0 15px 0;
    border-top: 1px solid #4c9fc8;
    color: #004365;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
}
.package1 h5.call-now .big {
    font-size: 24px;
    line-height: 1.2;
}
.mb0 {
    margin-bottom: 0!important;
}

/* PROMO */

.promo1-content{
  background: url(images/charter-spectrum-retailer-communications.jpg) 50% 0% no-repeat;
  color:white;
  margin-top:50px;
}
.promo1-content h2 {
    margin: 0 0 30px 0;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
}
sup {
    top: -.5em;
}
.promo1-content h3 {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}
.promo1-content ul.list1 li:before {
    position: absolute;
    display: block;
    font-family: FontAwesome;
    content: "\f00c";
    color: #71d7ff;
    margin-left: -18px;
}

/* CAROUSEL */

.carousel-content .item{
  height:300px;
}
.carousel-control{
  background-image: none !important;
  text-shadow: none;
  color:lightgrey;
}
.carousel-control:hover,
.carousel-control:active{
  color:grey;
}

.carousel-caption{
  color:black;
  text-shadow: none;
}
/* LOCATIONS */
.closed{
  display:none;
}
/*.indicator{
  display:block;
}*/


/* UTILITIES */

.gutter {
  padding: 20px;
}
.float-right{
  float:right;
}
.negative-margin{
  margin-top:-21px;
}
.top-margin{
  margin-top:50px;
}
.break {
    display: block;
}
